.navbar {
    border-bottom: 1px solid rgba(51, 51, 51, 0.124);
}

.content {
    margin: 20px 50px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px dotted rgba(51, 51, 51, 0.124);
}