/* Navbar */

.navbar {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e5e5e5;
    top: 0;
    background-color: #202020 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #e7e7e7 !important;
}

.navbar-nav .nav-item {
    font-size: 20px;
    color: #cccccc88 !important;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* Body Div */

.page-body-title {
    text-align: center;
    font-size: 35px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #33333381;
}

.content {
    margin: 20px 50px;
}

/* Body Sections */

.section-title {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px dotted rgba(51, 51, 51, 0.124);
}

.footer-box {
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202020 !important;
    color: white;
    text-align: center;
}

/* Messages */

ul.messages {
    padding: 0;

}

ul.messsages li {
    list-style: none;
}
