{% extends 'base.html' %}

{% block title %}
    Blog - Feed
{% endblock title %}

{% block content %}
    
    <div class="form-box">
        <!-- <h4 class="section-title mx-sm-3 mb-2">New Post</h4> -->
        <form method="POST">
        {% csrf_token %}
            <input type="text" name="title" placeholder="Post Title">
        <input type="submit" value="Post">
        </form>
        <!-- {{ form.as_p }} -->
        <!-- <form action="" method="post"> -->

            <!-- <div class="form-group">
                <label for="titleInput">Title</label>
                <input class="form-control" type="text" id="titleInput">
            </div>
            <div class="form-group">
                <label for="contentInput">Content</label>
                <textarea class="form-control" id="contentInput" rows="8"></textarea>
            </div>
            <div class="form-group">
                <label for="dateStaticInput"></label>
                <input readonly class="form-control-plaintext" type="text" id="dateStaticInput" value="Post date:">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button> -->
        </form>
    </div>
{% endblock content %}
